{% extends 'base.html' %}

{%  block content %}
    <h1>New post</h1>
    <form method="POST" class="post-form">{% csrf_token %}
        {# form.as_p #}
        <p>{{ form.title }}</p>
        <p>{{ form.text }}</p>
        <p>categories go here</p>
        <ul class="categories">
            {% for category in form.category %}
                <li>{{ category }}</li>
            {% endfor %}
        </ul>
        <p>end categories</p>
        <button type="submit" class="save btn btn-default">Save</button>
    </form>
{% endblock %}